[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/XtorukmaktoX
[access "refs/for/refs/*"]
	read = group user/XtorukmaktoX
	push = group user/XtorukmaktoX
	label-Code-Review = -2..+2 group user/XtorukmaktoX
	label-Verified = -1..+1 group user/XtorukmaktoX
	rebase = group user/XtorukmaktoX
	removeReviewer = group user/XtorukmaktoX
	submit = group user/XtorukmaktoX
[access "refs/heads/*"]
	read = group user/XtorukmaktoX
	create = group user/XtorukmaktoX
	push = +force group user/XtorukmaktoX
	pushMerge = group user/XtorukmaktoX
[access "refs/tags/*"]
	push = group user/XtorukmaktoX
	push = +force group user/XtorukmaktoX
